[submodule "ip/opentitan"]
	path = ip/opentitan
	url = git@github.com:lowRISC/opentitan.git
[submodule "ip/OpenROAD-flow-scripts"]
	path = ip/OpenROAD-flow-scripts
	url = git@github.com:The-OpenROAD-Project/OpenROAD-flow-scripts.git
[submodule "ip/memory"]
	path = ip/memory
	url = git@github.com:minghungumich/Intel16-Memory.git
	branch = main
[submodule "apr/platforms/intel16"]
	path = apr/platforms/intel16
	url = git@github.com:minghungumich/Intel16-Platform.git
	branch = main
[submodule "apr/private_tool_scripts"]
	path = apr/private_tool_scripts
	url = git@github.com:The-OpenROAD-Project-private/OpenROAD-flow-private_tool_scripts.git
