#default upf options
rtlc -upf_options "-dump_upf_report -upf_allow_netport_recreation -pa_error_on 2132 -pa_error_on 2130"
rtlc -upf_options "-upf_extract_portstate_from_powerstate"
rtlc -pa_corrupt_value 0

#sllows intra assigment delays
rtlc -allow_IAD

## Allow_ISL : Allows incomplete sensitivity lists of the design.
rtlc -allow_ISL

# allow clock variable to be used as data
rtlc -allow_CVD

##  -allow_4ST :Allows 4-state (X/Z) reads. emulation set x/z to 0
rtlc -allow_4ST

## Flag black boxes in RTLC
rtlc -noblack_box

# Globalization of defines/macros in libs, multi file compilation unit
veanalyze -mfcu
rtlc -mfcu

## vcs compat support non lrm constructs that work on vcs
## ar mentor should this be passed to vanalyze
comp -vcs_compat 
comp -sv31acompat

## allow top-level ports
comp -ip_check
